<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" action="perform_login" ng-controller="LoginController" role="form" method="POST">
        <div id="error" class="alert alert-error">    
            Invalid username and password.
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
        </div>

        <input type="submit" ng-click="login(user)" value="Submit">
    </form>
</div>