<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" ng-controller="RegistrationController" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="user.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.telephone.$dirty && form.telephone.$error.required }">
            <label for="telephone">Telephone</label>
            <input type="text" name="telephone" id="telephone" class="form-control" ng-model="user.telephone" required />
            <span ng-show="form.telephone.$dirty && form.telephone.$error.required" class="help-block">Telephone is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
            <label for="mobile">Mobile</label>
            <input type="text" name="mobile" id="mobile" class="form-control" ng-model="user.mobile"/>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
            <label for="address">Address</label>
            <textarea name="address" style="width:250px;height:150px;" id="address" class="form-control" ng-model="user.address" required ></textarea>
            <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">Address is required</span>
        </div>

        <input type="submit" ng-click="createUser(user)" value="Submit">
    </form>
</div>