<head>
<script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script data-require="angular.js@1.2.14" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular.js"></script>
<link rel="stylesheet" href="css/style.css" />
<script src="script.js"></script>
</head>

<h1>Sample Application</h1>
<a href="#/home">Home</a>&nbsp;
<a href="#/booklist">Book List</a>&nbsp;
<a href="#/page/a">PageA</a>&nbsp;
<a href="#/page/b">PageB</a>
<a href="#/registration">Register</a>
<a href="#/login">Login</a>
