<div ng-controller="BooklistController">
	Book List
	<table class="table table-hover table-responsive table-striped">
		<thead>
			<tr>
			  <th ng-class="selectedCls('subject')" ng-click="changeSorting('subject')">
				Subject <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('description')" ng-click="changeSorting('description')"> 
				Description <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('isbn')" ng-click="changeSorting('isbn')">
				ISBN <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('contentType')" ng-click="changeSorting('contentType')"> 
				Content Type<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('author.name')" ng-click="changeSorting('author.name')">
				Author <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('publisherBean.name')" ng-click="changeSorting('publisherBean.name')"> 
				Publisher <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('categoryBean.name')" ng-click="changeSorting('categoryBean.name')">
				Category <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th ng-class="selectedCls('price')" ng-click="changeSorting('price')"> 
				Price <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
				<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
			  </th>
			  <th></th>
			</tr>
		  </thead>
		<tbody>
			<tr ng-repeat="b in data | orderBy:sort.column:sort.descending" >
				<td>{{b.subject}}</td>
				<td>{{b.description}}</td>
				<td>{{b.isbn}}</td>
				<td>{{b.contentType}}</td>
				<td>{{b.author.name}}</td>
				<td>{{b.publisherBean.name}}</td>
				<td>{{b.categoryBean.name}}</td>
				<td>{{b.price}}</td>
				<td>
					<input type="button" ng-click="remove(t.testId)" value="Remove">
				</td>
			</tr>
		</tbody>
	</table>
	
	<input type="button" ng-click="add()" value="Add">
</div>
